/.idea
/dataAnalysisModel/__pycache__
/dataAnalysisModelEvaluation/__pycache__/
/venv
/dataPretreatment/__pycache__
/dataReading/__pycache__
/dataAnalysisModel/text2vec/word2vec/util/__pycache__
/dataAnalysisModel/text2vec/word2vec/algorithms/__pycache__
